<div class="topic-item">
  <div class="topic-title">HOME TASK :)</div>

  <div class="topic-task">
    Provide two-way binding of color variable to input
  </div>

  <div class="topic-task">
    Create directive that will let user enter only letters and numbers. Keep in
    mind to let user delete values from the input :)
  </div>

  <div class="topic-task">
    Create directive that will set entered color as element background if it is
    valid. Apply it to input
  </div>

  <div class="topic-task">
    Create directive that will set entered color as text color on hovering. If
    color is incorrect - make text red on hover. Apply it to 'Entered color:
    value' text
  </div>

  <div class="topic-task">
    Create pipe that would reverse text. Apply it to 'Reversed color' value
  </div>

  <div class="topic-task">
    Apply directive that colors on hover to 'Reversed color: value', but it
    should highlights in reversed color;
  </div>

  <div class="task">
    <mat-form-field appearance="fill" bgColor [color]="color">
      <mat-label>Enter color in HEX format</mat-label>

      <input [(ngModel)]="color" numbersOnly matInput />
    </mat-form-field>

    <div appHoverColor [color]="color">
      Entered color: #{{ color }}
    </div>
    <div appHoverColor [color]="color | reverse">
      Reversed color: #{{ color | reverse }}
    </div>
  </div>
</div>
